In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1=pd.read_csv('C:\\Users\\Lenovo\\Desktop\\Football_players_2021_2022\\New data\\players_data\\players_22.csv')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\253327454.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('C:\\Users\\Lenovo\\Desktop\\Football_players_2021_2022\\New data\\players_data\\players_22.csv')

In [3]:
df1.shape

(19239, 110)

In [4]:
for i in df1.columns:
    print(i)

sofifa_id
player_url
short_name
long_name
player_positions
overall
potential
value_eur
wage_eur
age
dob
height_cm
weight_kg
club_team_id
club_name
league_name
league_level
club_position
club_jersey_number
club_loaned_from
club_joined
club_contract_valid_until
nationality_id
nationality_name
nation_team_id
nation_position
nation_jersey_number
preferred_foot
weak_foot
skill_moves
international_reputation
work_rate
body_type
real_face
release_clause_eur
player_tags
player_traits
pace
shooting
passing
dribbling
defending
physic
attacking_crossing
attacking_finishing
attacking_heading_accuracy
attacking_short_passing
attacking_volleys
skill_dribbling
skill_curve
skill_fk_accuracy
skill_long_passing
skill_ball_control
movement_acceleration
movement_sprint_speed
movement_agility
movement_reactions
movement_balance
power_shot_power
power_jumping
power_stamina
power_strength
power_long_shots
mentality_aggression
mentality_interceptions
mentality_positioning
mentality_vision
mentality_penalties
mentality_composure
defending_marking_awareness
defending_standing_tackle
defending_sliding_tackle
goalkeeping_diving
goalkeeping_handling
goalkeeping_kicking
goalkeeping_positioning
goalkeeping_reflexes
goalkeeping_speed
ls
st
rs
lw
lf
cf
rf
rw
lam
cam
ram
lm
lcm
cm
rcm
rm
lwb
ldm
cdm
rdm
rwb
lb
lcb
cb
rcb
rb
gk
player_face_url
club_logo_url
club_flag_url
nation_logo_url
nation_flag_url

In [5]:
df1.league_name.unique()

array(['French Ligue 1', 'German 1. Bundesliga', 'English Premier League',
       'Spain Primera Division', 'Italian Serie A', 'Holland Eredivisie',
       'USA Major League Soccer', nan, 'Saudi Abdul L. Jameel League',
       'Portuguese Liga ZON SAGRES', 'Campeonato Brasileiro Série A',
       'Turkish Süper Lig', 'Chinese Super League',
       'Russian Premier League', 'Croatian Prva HNL', 'Mexican Liga MX',
       'Ukrainian Premier League', 'Spanish Segunda División',
       'Greek Super League', 'Italian Serie B',
       'Belgian Jupiler Pro League', 'Argentina Primera División',
       'German 2. Bundesliga', 'Japanese J. League Division 1',
       'Swiss Super League', 'Czech Republic Gambrinus Liga',
       'Scottish Premiership', 'English League Championship',
       'French Ligue 2', 'Australian Hyundai A-League',
       'Danish Superliga', 'Chilian Campeonato Nacional',
       'Austrian Football Bundesliga', 'Paraguayan Primera División',
       'Ecuadorian Serie A', 'Uruguayan Primera División',
       'Norwegian Eliteserien', 'Swedish Allsvenskan',
       'Korean K League 1', 'Colombian Liga Postobón',
       'Hungarian Nemzeti Bajnokság I',
       'Liga de Fútbol Profesional Boliviano',
       'South African Premier Division', 'UAE Arabian Gulf League',
       'Polish T-Mobile Ekstraklasa', 'English League One',
       'Romanian Liga I', 'Venezuelan Primera División',
       'Peruvian Primera División', 'Indian Super League',
       'Cypriot First Division', 'German 3. Bundesliga',
       'Rep. Ireland Airtricity League', 'Finnish Veikkausliiga',
       'English League Two', 'English National League'], dtype=object)

In [6]:
options = ['French Ligue 1', 'German 1. Bundesliga', 'English Premier League',
       'Spain Primera Division', 'Italian Serie A','Indian Super League' ]
  
# selecting rows based on condition
df3 = df1[df1['league_name'].isin(options)]

In [7]:
df3.shape

(3255, 110)

In [8]:
for i in df3.columns:
    print(i,'--',df3[i].isnull().sum())

sofifa_id -- 0
player_url -- 0
short_name -- 0
long_name -- 0
player_positions -- 0
overall -- 0
potential -- 0
value_eur -- 0
wage_eur -- 0
age -- 0
dob -- 0
height_cm -- 0
weight_kg -- 0
club_team_id -- 0
club_name -- 0
league_name -- 0
league_level -- 0
club_position -- 0
club_jersey_number -- 0
club_loaned_from -- 3035
club_joined -- 220
club_contract_valid_until -- 0
nationality_id -- 0
nationality_name -- 0
nation_team_id -- 2906
nation_position -- 2906
nation_jersey_number -- 2906
preferred_foot -- 0
weak_foot -- 0
skill_moves -- 0
international_reputation -- 0
work_rate -- 0
body_type -- 0
real_face -- 0
release_clause_eur -- 220
player_tags -- 2811
player_traits -- 1239
pace -- 358
shooting -- 358
passing -- 358
dribbling -- 358
defending -- 358
physic -- 358
attacking_crossing -- 0
attacking_finishing -- 0
attacking_heading_accuracy -- 0
attacking_short_passing -- 0
attacking_volleys -- 0
skill_dribbling -- 0
skill_curve -- 0
skill_fk_accuracy -- 0
skill_long_passing -- 0
skill_ball_control -- 0
movement_acceleration -- 0
movement_sprint_speed -- 0
movement_agility -- 0
movement_reactions -- 0
movement_balance -- 0
power_shot_power -- 0
power_jumping -- 0
power_stamina -- 0
power_strength -- 0
power_long_shots -- 0
mentality_aggression -- 0
mentality_interceptions -- 0
mentality_positioning -- 0
mentality_vision -- 0
mentality_penalties -- 0
mentality_composure -- 0
defending_marking_awareness -- 0
defending_standing_tackle -- 0
defending_sliding_tackle -- 0
goalkeeping_diving -- 0
goalkeeping_handling -- 0
goalkeeping_kicking -- 0
goalkeeping_positioning -- 0
goalkeeping_reflexes -- 0
goalkeeping_speed -- 2897
ls -- 0
st -- 0
rs -- 0
lw -- 0
lf -- 0
cf -- 0
rf -- 0
rw -- 0
lam -- 0
cam -- 0
ram -- 0
lm -- 0
lcm -- 0
cm -- 0
rcm -- 0
rm -- 0
lwb -- 0
ldm -- 0
cdm -- 0
rdm -- 0
rwb -- 0
lb -- 0
lcb -- 0
cb -- 0
rcb -- 0
rb -- 0
gk -- 0
player_face_url -- 0
club_logo_url -- 0
club_flag_url -- 0
nation_logo_url -- 2906
nation_flag_url -- 0

In [9]:
df3.drop(columns=['club_loaned_from','club_joined','nationality_id','nation_team_id','nation_position','nation_jersey_number',
                 'release_clause_eur','player_tags','player_traits','nation_logo_url'],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\733596355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(columns=['club_loaned_from','club_joined','nationality_id','nation_team_id','nation_position','nation_jersey_number',

In [10]:
for i in df3.columns:
    print(i,'--',df3[i].isnull().sum())

sofifa_id -- 0
player_url -- 0
short_name -- 0
long_name -- 0
player_positions -- 0
overall -- 0
potential -- 0
value_eur -- 0
wage_eur -- 0
age -- 0
dob -- 0
height_cm -- 0
weight_kg -- 0
club_team_id -- 0
club_name -- 0
league_name -- 0
league_level -- 0
club_position -- 0
club_jersey_number -- 0
club_contract_valid_until -- 0
nationality_name -- 0
preferred_foot -- 0
weak_foot -- 0
skill_moves -- 0
international_reputation -- 0
work_rate -- 0
body_type -- 0
real_face -- 0
pace -- 358
shooting -- 358
passing -- 358
dribbling -- 358
defending -- 358
physic -- 358
attacking_crossing -- 0
attacking_finishing -- 0
attacking_heading_accuracy -- 0
attacking_short_passing -- 0
attacking_volleys -- 0
skill_dribbling -- 0
skill_curve -- 0
skill_fk_accuracy -- 0
skill_long_passing -- 0
skill_ball_control -- 0
movement_acceleration -- 0
movement_sprint_speed -- 0
movement_agility -- 0
movement_reactions -- 0
movement_balance -- 0
power_shot_power -- 0
power_jumping -- 0
power_stamina -- 0
power_strength -- 0
power_long_shots -- 0
mentality_aggression -- 0
mentality_interceptions -- 0
mentality_positioning -- 0
mentality_vision -- 0
mentality_penalties -- 0
mentality_composure -- 0
defending_marking_awareness -- 0
defending_standing_tackle -- 0
defending_sliding_tackle -- 0
goalkeeping_diving -- 0
goalkeeping_handling -- 0
goalkeeping_kicking -- 0
goalkeeping_positioning -- 0
goalkeeping_reflexes -- 0
goalkeeping_speed -- 2897
ls -- 0
st -- 0
rs -- 0
lw -- 0
lf -- 0
cf -- 0
rf -- 0
rw -- 0
lam -- 0
cam -- 0
ram -- 0
lm -- 0
lcm -- 0
cm -- 0
rcm -- 0
rm -- 0
lwb -- 0
ldm -- 0
cdm -- 0
rdm -- 0
rwb -- 0
lb -- 0
lcb -- 0
cb -- 0
rcb -- 0
rb -- 0
gk -- 0
player_face_url -- 0
club_logo_url -- 0
club_flag_url -- 0
nation_flag_url -- 0

In [11]:
df_main1=df3[df3['player_positions']!='GK']

In [12]:
df_gk1=df3[df3['player_positions']=='GK']

In [79]:
#df_main1.to_csv('C:\\Users\\Lenovo\\Desktop\\Football_players_2021_2022\\New data\\transformed players\\main_players.csv')
#df_gk1.to_csv('C:\\Users\\Lenovo\\Desktop\\Football_players_2021_2022\\New data\\transformed players\\goalkeepers.csv')

In [13]:
df_main1.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name',
       'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur',
       'age', 'dob', 'height_cm', 'weight_kg', 'club_team_id', 'club_name',
       'league_name', 'league_level', 'club_position', 'club_jersey_number',
       'club_contract_valid_until', 'nationality_name', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation', 'work_rate',
       'body_type', 'real_face', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk', 'player_face_url', 'club_logo_url',
       'club_flag_url', 'nation_flag_url'],
      dtype='object')

In [14]:
for i in df_gk1.columns:
    print(i,'--',df_gk1[i].isnull().sum())

sofifa_id -- 0
player_url -- 0
short_name -- 0
long_name -- 0
player_positions -- 0
overall -- 0
potential -- 0
value_eur -- 0
wage_eur -- 0
age -- 0
dob -- 0
height_cm -- 0
weight_kg -- 0
club_team_id -- 0
club_name -- 0
league_name -- 0
league_level -- 0
club_position -- 0
club_jersey_number -- 0
club_contract_valid_until -- 0
nationality_name -- 0
preferred_foot -- 0
weak_foot -- 0
skill_moves -- 0
international_reputation -- 0
work_rate -- 0
body_type -- 0
real_face -- 0
pace -- 358
shooting -- 358
passing -- 358
dribbling -- 358
defending -- 358
physic -- 358
attacking_crossing -- 0
attacking_finishing -- 0
attacking_heading_accuracy -- 0
attacking_short_passing -- 0
attacking_volleys -- 0
skill_dribbling -- 0
skill_curve -- 0
skill_fk_accuracy -- 0
skill_long_passing -- 0
skill_ball_control -- 0
movement_acceleration -- 0
movement_sprint_speed -- 0
movement_agility -- 0
movement_reactions -- 0
movement_balance -- 0
power_shot_power -- 0
power_jumping -- 0
power_stamina -- 0
power_strength -- 0
power_long_shots -- 0
mentality_aggression -- 0
mentality_interceptions -- 0
mentality_positioning -- 0
mentality_vision -- 0
mentality_penalties -- 0
mentality_composure -- 0
defending_marking_awareness -- 0
defending_standing_tackle -- 0
defending_sliding_tackle -- 0
goalkeeping_diving -- 0
goalkeeping_handling -- 0
goalkeeping_kicking -- 0
goalkeeping_positioning -- 0
goalkeeping_reflexes -- 0
goalkeeping_speed -- 0
ls -- 0
st -- 0
rs -- 0
lw -- 0
lf -- 0
cf -- 0
rf -- 0
rw -- 0
lam -- 0
cam -- 0
ram -- 0
lm -- 0
lcm -- 0
cm -- 0
rcm -- 0
rm -- 0
lwb -- 0
ldm -- 0
cdm -- 0
rdm -- 0
rwb -- 0
lb -- 0
lcb -- 0
cb -- 0
rcb -- 0
rb -- 0
gk -- 0
player_face_url -- 0
club_logo_url -- 0
club_flag_url -- 0
nation_flag_url -- 0

In [15]:
df_main1.loc[:,'sofifa_id':'weight_kg']

,sofifa_id,player_url,short_name,long_name,player_positions,overall,potential,value_eur,wage_eur,age,dob,height_cm,weight_kg
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,"RW, ST, CF",93,93,78000000.0,320000.0,34,1987-06-24,170,72
1,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,ST,92,92,119500000.0,270000.0,32,1988-08-21,185,81
2,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,"ST, LW",91,91,45000000.0,270000.0,36,1985-02-05,187,83
3,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,"LW, CAM",91,91,129000000.0,270000.0,29,1992-02-05,175,68
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,"CM, CAM",91,91,125500000.0,350000.0,30,1991-06-28,181,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19200,261549,https://sofifa.com/player/261549/balaji-ganesa...,B. Ganesan,Balaji Ganesan,RB,48,61,110000.0,500.0,19,2002-02-28,162,52
19226,259219,https://sofifa.com/player/259219/nestor-dias/2...,N. Dias,Nestor Dias,CM,47,58,100000.0,500.0,22,1998-11-09,180,61
19228,259650,https://sofifa.com/player/259650/fardin-ali-mo...,F. Molla,Fardin Ali Molla,CF,47,67,130000.0,500.0,19,2002-04-10,161,63
19229,259737,https://sofifa.com/player/259737/haobam-singh/...,H. Singh,Haobam Singh,CM,47,64,120000.0,500.0,18,2003-02-17,170,62
19238,264540,https://sofifa.com/player/264540/emanuel-lalch...,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,CAM,47,60,110000.0,500.0,19,2002-02-06,167,61

In [16]:
df_main1.loc[:,'club_team_id':'body_type']

,club_team_id,club_name,league_name,league_level,club_position,club_jersey_number,club_contract_valid_until,nationality_name,preferred_foot,weak_foot,skill_moves,international_reputation,work_rate,body_type
0,73.0,Paris Saint-Germain,French Ligue 1,1.0,RW,30.0,2023.0,Argentina,Left,4,4,5,Medium/Low,Unique
1,21.0,FC Bayern München,German 1. Bundesliga,1.0,ST,9.0,2023.0,Poland,Right,4,4,5,High/Medium,Unique
2,11.0,Manchester United,English Premier League,1.0,ST,7.0,2023.0,Portugal,Right,4,5,5,High/Low,Unique
3,73.0,Paris Saint-Germain,French Ligue 1,1.0,LW,10.0,2025.0,Brazil,Right,5,5,5,High/Medium,Unique
4,10.0,Manchester City,English Premier League,1.0,RCM,17.0,2025.0,Belgium,Right,5,4,4,High/High,Unique
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19200,113297.0,Chennaiyin FC,Indian Super League,1.0,SUB,43.0,2022.0,India,Right,3,2,1,High/Low,Lean (170-)
19226,113298.0,FC Goa,Indian Super League,1.0,RES,40.0,2022.0,India,Right,2,2,1,Medium/Medium,Lean (170-185)
19228,113146.0,ATK Mohun Bagan FC,Indian Super League,1.0,SUB,22.0,2025.0,India,Right,2,2,1,High/Low,Normal (170-)
19229,111629.0,SC East Bengal FC,Indian Super League,1.0,RES,44.0,2025.0,India,Right,2,2,1,Medium/Low,Lean (170-)
19238,113040.0,NorthEast United FC,Indian Super League,1.0,SUB,13.0,2025.0,India,Right,3,2,1,Medium/Medium,Lean (170-)

In [ ]:
,''

In [17]:
df_main1[['attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control']]

,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_short_passing,attacking_volleys,skill_dribbling,skill_curve,skill_fk_accuracy,skill_long_passing,skill_ball_control
0,85,95,70,91,88,96,93,94,91,96
1,71,95,90,85,89,85,79,85,70,88
2,87,95,90,80,86,88,81,84,77,88
3,85,83,63,86,86,95,88,87,81,95
4,94,82,55,94,82,88,85,83,93,91
...,...,...,...,...,...,...,...,...,...,...
19200,43,25,43,32,30,48,32,32,29,33
19226,36,38,43,50,37,49,39,31,47,47
19228,29,50,34,43,42,45,41,22,35,48
19229,36,34,48,48,30,44,34,31,46,44
19238,39,32,46,50,37,48,38,32,49,38

In [18]:
df_main1[['movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots']]

,movement_acceleration,movement_sprint_speed,movement_agility,movement_reactions,movement_balance,power_shot_power,power_jumping,power_stamina,power_strength,power_long_shots
0,91,80,91,94,95,86,68,72,69,94
1,77,79,77,93,82,90,85,76,86,87
2,85,88,86,94,74,94,95,77,77,93
3,93,89,96,89,84,80,64,81,53,81
4,76,76,79,91,78,91,63,89,74,91
...,...,...,...,...,...,...,...,...,...,...
19200,64,59,57,46,88,26,64,64,30,23
19226,57,57,59,49,53,40,58,52,45,40
19228,68,51,59,35,71,47,68,32,32,37
19229,62,63,69,48,70,44,60,61,35,41
19238,70,67,65,54,85,50,62,57,40,36

In [19]:
df_main1[['mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle']]

,mentality_aggression,mentality_interceptions,mentality_positioning,mentality_vision,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle
0,44,40,93,95,75,96,20,35,24
1,81,49,95,81,90,88,35,42,19
2,63,29,95,76,88,95,24,32,24
3,63,37,86,90,93,93,35,32,29
4,76,66,88,94,83,89,68,65,53
...,...,...,...,...,...,...,...,...,...
19200,46,43,42,36,33,37,42,48,45
19226,57,40,45,47,40,38,44,40,38
19228,32,16,52,41,49,44,16,16,11
19229,57,45,49,47,41,44,39,43,41
19238,55,42,47,46,35,36,33,31,37

In [47]:
df_main1.drop(columns=['club_team_id','league_level','weak_foot',],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\2353138420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main1.drop(columns=['club_team_id','league_level','weak_foot',],inplace=True)

In [20]:
df_main1[['ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram',
       'lm', 'lcm', 'cm', 'rcm']].head(2)

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm
0,89+3,89+3,89+3,92,93,93,93,92,93,93,93,91+2,87+3,87+3,87+3
1,90+2,90+2,90+2,85,88,88,88,85,86+3,86+3,86+3,84+3,80+3,80+3,80+3

In [21]:
df_main1[[ 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'gk']].head(2)

     rm   lwb   ldm   cdm   rdm   rwb    lb   lcb    cb   rcb    rb    gk
0  91+2  66+3  64+3  64+3  64+3  66+3  61+3  50+3  50+3  50+3  61+3  19+3
1  84+3  64+3  66+3  66+3  66+3  64+3  61+3  60+3  60+3  60+3  61+3  19+3

In [22]:
df_main1['lb_rb']=df_main1.lb
df_main1['lm_rm']=df_main1.lm
df_main1['lw_rw']=df_main1.lw
df_main1['wing_back']=df_main1.rwb


df_main1.drop(columns=['rcb','lcb','rwb','lwb','ldm','rdm','lcm','rcm','lm','rm','ram','lam','ls','rs','lw','rw','lf','rf'],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\1593387285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main1['lb_rb']=df_main1.lb
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\1593387285.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main1['lm_rm']=df_main1.lm
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\1593387285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main1['lw_rw']=df_main1.lw
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\1593387285.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main1['wing_back']=df_main1.rwb
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\1593387285.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main1.drop(columns=['rcb','lcb','rwb','lwb','ldm','rdm','lcm','rcm','lm','rm','ram','lam','ls','rs','lw','rw','lf','rf'],inplace=True)

In [24]:
df_main1.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name',
       'player_positions', 'overall', 'potential', 'value_eur', 'wage_eur',
       'age', 'dob', 'height_cm', 'weight_kg', 'club_team_id', 'club_name',
       'league_name', 'league_level', 'club_position', 'club_jersey_number',
       'club_contract_valid_until', 'nationality_name', 'preferred_foot',
       'weak_foot', 'skill_moves', 'international_reputation', 'work_rate',
       'body_type', 'real_face', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed', 'movement_agility',
       'movement_reactions', 'movement_balance', 'power_shot_power',
       'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots',
       'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking_awareness',
       'defending_standing_tackle', 'defending_sliding_tackle',
       'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'goalkeeping_speed',
       'st', 'cf', 'cam', 'cm', 'cdm', 'lb', 'cb', 'rb', 'gk',
       'player_face_url', 'club_logo_url', 'club_flag_url', 'nation_flag_url',
       'lb_rb', 'lm_rm', 'lw_rw', 'wing_back'],
      dtype='object')

In [25]:
df_main1[['st', 'cf', 'cam', 'cm', 'cdm', 'lb', 'cb', 'rb', 'gk','lb_rb', 'lm_rm', 'lw_rw', 'wing_back']]

,st,cf,cam,cm,cdm,lb,cb,rb,gk,lb_rb,lm_rm,lw_rw,wing_back
0,89+3,93,93,87+3,64+3,61+3,50+3,61+3,19+3,61+3,91+2,92,66+3
1,90+2,88,86+3,80+3,66+3,61+3,60+3,61+3,19+3,61+3,84+3,85,64+3
2,90+1,89,86+3,78+3,59+3,60+3,53+3,60+3,20+3,60+3,86+3,88,63+3
3,83+3,88,89+2,82+3,63+3,62+3,50+3,62+3,20+3,62+3,89+2,90,67+3
4,83+3,87,89+2,89+2,80+3,75+3,69+3,75+3,21+3,75+3,89+2,88,79+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19200,37+2,39,38+2,38+2,40+2,46+2,43+2,46+2,13+2,46+2,43+2,41,46+2
19226,45+2,47,48+2,47+2,46+2,45+2,44+2,45+2,14+2,45+2,48+2,47,45+2
19228,46+2,47,46+2,39+2,29+2,29+2,26+2,29+2,13+2,29+2,44+2,46,31+2
19229,45+2,46,47+2,47+2,46+2,47+2,45+2,47+2,16+2,47+2,47+2,47,47+2
19238,45+2,47,47+2,46+2,44+2,45+2,41+2,45+2,16+2,45+2,48+2,47,45+2

In [26]:
df_main1.drop(columns=['lb','rb'],inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14660\1728216822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main1.drop(columns=['lb','rb'],inplace=True)

In [42]:
df_main1.reset_index(inplace=True)

In [30]:
df_main1[['st', 'cf', 'cam', 'cm', 'cdm',  'cb', 'gk','lb_rb', 'lm_rm', 'lw_rw', 'wing_back']]

         st  cf   cam    cm   cdm    cb    gk lb_rb lm_rm lw_rw wing_back
0      89+3  93    93  87+3  64+3  50+3  19+3  61+3  91+2    92      66+3
1      90+2  88  86+3  80+3  66+3  60+3  19+3  61+3  84+3    85      64+3
2      90+1  89  86+3  78+3  59+3  53+3  20+3  60+3  86+3    88      63+3
3      83+3  88  89+2  82+3  63+3  50+3  20+3  62+3  89+2    90      67+3
4      83+3  87  89+2  89+2  80+3  69+3  21+3  75+3  89+2    88      79+3
...     ...  ..   ...   ...   ...   ...   ...   ...   ...   ...       ...
19200  37+2  39  38+2  38+2  40+2  43+2  13+2  46+2  43+2    41      46+2
19226  45+2  47  48+2  47+2  46+2  44+2  14+2  45+2  48+2    47      45+2
19228  46+2  47  46+2  39+2  29+2  26+2  13+2  29+2  44+2    46      31+2
19229  45+2  46  47+2  47+2  46+2  45+2  16+2  47+2  47+2    47      47+2
19238  45+2  47  47+2  46+2  44+2  41+2  16+2  45+2  48+2    47      45+2

[2897 rows x 11 columns]

In [45]:
list1=['st', 'cf', 'cam', 'cm', 'cdm',  'cb', 'gk','lb_rb', 'lm_rm', 'lw_rw', 'wing_back']
for i in list1:
    for j in range(len(df_main1)):
        df_main1.loc[j,i]=eval(str(df_main1.loc[j,i]))

In [46]:
df_main1[['st', 'cf', 'cam', 'cm', 'cdm',  'cb', 'gk','lb_rb', 'lm_rm', 'lw_rw', 'wing_back']]

      st  cf cam  cm cdm  cb  gk lb_rb lm_rm lw_rw wing_back
0     92  93  93  90  67  53  22    64    93    92        69
1     92  88  89  83  69  63  22    64    87    85        67
2     91  89  89  81  62  56  23    63    89    88        66
3     86  88  91  85  66  53  23    65    91    90        70
4     86  87  91  91  83  72  24    78    91    88        82
...   ..  ..  ..  ..  ..  ..  ..   ...   ...   ...       ...
2892  39  39  40  40  42  45  15    48    45    41        48
2893  47  47  50  49  48  46  16    47    50    47        47
2894  48  47  48  41  31  28  15    31    46    46        33
2895  47  46  49  49  48  47  18    49    49    47        49
2896  47  47  49  48  46  43  18    47    50    47        47

[2897 rows x 11 columns]

In [39]:
df_main1.st[:10]

0       92
1       92
2       91
3       86
4       86
6     89+3
9     88+2
10    72+3
11    87+2
13    85+3
Name: st, dtype: object

In [48]:
df_main1.to_csv('C:\\Users\\Lenovo\\Desktop\\Football_players_2021_2022\\New data\\transformed players\\main_players1.csv')
df_gk1.to_csv('C:\\Users\\Lenovo\\Desktop\\Football_players_2021_2022\\New data\\transformed players\\goalkeepers1.csv')